* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  color: rgb(0, 0, 0); 
}

input, textarea {
  padding: 12px;
  margin: 12px 0;
  font-family: 'Inter', sans-serif;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: 1px solid #0D1117;
  border-radius: 20px;
}

input::placeholder, textarea::placeholder {
  color: #0D1117;
  font-weight: bold;
}

.note-app__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;
  background-color: #283241;
}

.note-app__header h1 {
  margin: 8px 0;
  margin-left: 16px;
  flex: 1;
  color: rgb(255, 255, 255);
}


.note-app__body {
  max-width: 1000px;
  margin: 16px auto;
  padding: 12px;
}

.note-app__body h2 {
  font-weight: normal;
  margin: 16px 0;
}

.note-input {
  max-width: 500px;
  margin-bottom: 48px;
  flex-direction: column;
  align-items: center;
}

.note-input input, .note-input textarea {
  display: block;
  width: 100%;
}

.note-input__title {
  font-weight: bold;
}

.note-input__title__char-limit {
  font-size: 14px;
  text-align: right;
  color: #0D1117;
}

.note-input__body {
  min-height: 175px;
}

.note-input button {
  display: block;
  margin: 0 auto;
  padding: 8px 32px;
  font-family: 'Inter', sans-serif;
  color: rgb(254, 254, 254);
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  background-color: #283241;
  border: none;
}

.note-input button:hover {
  background-color: #465469; /* Gaya hover */
}

.notes-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content);
  gap: 16px;
  margin-bottom: 48px;
}

.notes-list__empty-message {
  text-align: center;
  color: #000000;
}

.note-item {
  border: 1px solid #000000;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.note-item__content {
  padding: 12px;
  flex: 1;
}

.note-item__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 4px;
  color: #2D466C;
}

.note-item__date {
  font-size: 12px;
  margin-bottom: 8px;
  color: #000000;
}

.note-item__body {
  font-size: 14px;
  color: #344053;
}

.note-item__action {
  display: flex;
  background-color: #283241;
}

.note-item__delete-button,.note-item__archive-button {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 0;
  border-top: 1px solid #000000;
  padding: 8px 0;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.note-item__delete-button {
  border-right: 1px solid #ffffff;
  color: #fe5343;
}

.note-item__archive-button {
  color: #fff263;
}

.note-item__archive-button:hover {
  color: #e7f756;
  background-color: #3a4658;
}

.note-item__delete-button:hover {
  color: #fa1a05;
  background-color: #3a4658;
}

@media only screen and (min-width: 500px) {
  .notes-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .note-search input {
    min-width: 400px;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
